
name: Final-Blondie-Auto
on:
  push:
    paths: ['input/**']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with: {python-version: '3.10'}
      - name: Execution
        env:
          WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: |
          pip install requests
          python worker.py
